In [1]:
import pandas as pd
import numpy as np

In [2]:
data_filename = "Daily Update Data Agregat Covid-19 Jakarta.xlsx"

In [20]:
dataset = []

In [21]:
for i in range (0,10): 
    sheet = pd.read_excel(data_filename,sheet_name=i)
    dataset.append(sheet)

# Dataset variable information 
- **DJ** = Data Jakarta
- **DIJ** = Data Indonesia and Jakarta
- **Suspek** = Data Suspek
- **RDT ab** = Data  RDT ab
- **RDT ag** = Data RDT ag
- **HL** = Data Hasil Lab
- **V** = Data vaksinasi
- **P** = Data pemakaman
- **VW** = Data vaksinasi wilayah
- **DVWI** = Daily vaksinasi wilayah

In [22]:
df_DJ = dataset[0]
df_DIJ = dataset[1]
df_Suspek = dataset[2]
df_RDTab = dataset[3]
df_RDTag = dataset[4]
df_HL = dataset[5]
df_V = dataset[6]
df_P = dataset[7]
df_VW = dataset[8]
df_DVW = dataset[9]

In [23]:
idx = 0 
for i in dataset : 
    print(f"dataset ke dari excel {idx}: ")
    print(i.info())
    print()
    idx+=1

dataset ke dari excel 0:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 503 entries, 0 to 502
Data columns (total 17 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Tanggal                             503 non-null    datetime64[ns]
 1   Jam                                 484 non-null    float64
 2   Tanggal Jam                         503 non-null    datetime64[ns]
 3   Total Pasien                        503 non-null    int64
 4   Sembuh                              503 non-null    int64
 5   Meninggal                           503 non-null    int64
 6   Self Isolation                      503 non-null    int64
 7   Masih Perawatan                     503 non-null    int64
 8   Belum Diketahui (masih verifikasi)  0 non-null      float64
 9   Menunggu Hasil                      6 non-null      float64
 10  Tenaga Kesehatan Terinfeksi         6 non-null      float64
 11  Positif Harian                      503 non-null    int64
 12  Positif Aktif                       503 non-null    int64
 13  Sembuh Harian                       503 non-null    int64
 14  Tanpa Gejala                        363 non-null    float64
 15  Bergejala                           363 non-null    float64
 16  Belum Ada Data                      363 non-null    float64
dtypes: datetime64[ns](2), float64(7), int64(8)
memory usage: 66.9 KB
None

dataset ke dari excel 1:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 503 entries, 0 to 502
Data columns (total 21 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Tanggal                          503 non-null    datetime64[ns]
 1   Meninggal (Indonesia)            503 non-null    int64
 2   Sembuh (Indonesia)               503 non-null    int64
 3   Dirawat (Indonesia)              503 non-null    int64
 4   Positif (Indonesia)              503 non-null    int64
 5   Meninggal (Jakarta)              503 non-null    int64
 6   Sembuh (Jakarta)                 503 non-null    int64
 7   Self-Isolation (Jakarta)         503 non-null    int64
 8   Dirawat (Jakarta)                503 non-null    int64
 9   Positif (Jakarta)                503 non-null    int64
 10  Positif Aktif (Jakarta)          503 non-null    int64
 11  Meninggal Harian (Indonesia)     503 non-null    int64
 12  Sembuh Harian (Indonesia)        503 non-null    int64
 13  Dirawat Harian (Indonesia)       503 non-null    int64
 14  Positif Harian (Indonesia)       503 non-null    int64
 15  Meninggal Harian (Jakarta)       503 non-null    int64
 16  Sembuh Harian (Jakarta)          503 non-null    int64
 17  Self-Isolation Harian (Jakarta)  503 non-null    int64
 18  Dirawat Harian (Jakarta)         503 non-null    int64
 19  Positif Harian (Jakarta)         503 non-null    int64
 20  Positif Aktif Harian (Jakarta)   503 non-null    int64
dtypes: datetime64[ns](1), int64(20)
memory usage: 82.6 KB
None

dataset ke dari excel 2:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 366 entries, 0 to 365
Data columns (total 27 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Tanggal                               366 non-null    datetime64[ns]
 1   Total Discarded                       366 non-null    int64
 2   Isolasi di RS (Discarded)             0 non-null      float64
 3   Isolasi di Rumah (Discarded)          6 non-null      float64
 4   Meninggal (Discarded)                 357 non-null    float64
 5   Selesai Isolasi (Discarded)           366 non-null    int64
 6   Total Kontak Erat                     366 non-null    int64
 7   Isolasi di RS (Kontak Erat)           2 non-null      float64
 8   Isolasi di Rumah (Kontak Erat)        366 non-null    int64
 9   Meninggal (Kontak Erat)               0 non-null      float64
 10  Selesai Isolasi (Kontak Erat)         366 non-null    int64
 11  Total Pelaku Perjalanan               366 non-null    int64
 12  Isolasi di RS (Pelaku Perjalanan)     2 non-null      float64
 13  Isolasi di Rumah (Pelaku Perjalanan)  366 non-null    int64
 14  Meninggal (Pelaku Perjalanan)         0 non-null      float64
 15  Selesai Isolasi (Pelaku Perjalanan)   366 non-null    int64
 16  Total Probable                        366 non-null    int64
 17  Isolasi di RS (Probable)              344 non-null    float64
 18  Isolasi di Rumah (Probable)           6 non-null      float64
 19  Meninggal (Probable)                  366 non-null    int64
 20  Selesai Isolasi (Probable)            366 non-null    int64
 21  Total Suspek                          366 non-null    int64
 22  Isolasi di RS (Suspek)                366 non-null    int64
 23  Isolasi di Rumah (Suspek)             366 non-null    int64
 24  Meninggal (Suspek)                    366 non-null    int64
 25  Selesai Isolasi (Suspek)              366 non-null    int64
 26  GRAND TOTAL                           365 non-null    float64
dtypes: datetime64[ns](1), float64(10), int64(16)
memory usage: 77.3 KB
None

dataset ke dari excel 3:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 478 entries, 0 to 477
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   No.              478 non-null    int64
 1   Tanggal          478 non-null    datetime64[ns]
 2   Reaktif          478 non-null    int64
 3   Non-Reaktif      478 non-null    int64
 4   Total            478 non-null    int64
 5   Positivity Rate  478 non-null    float64
 6   Unnamed: 6       0 non-null      float64
 7   catatan:         1 non-null      object
dtypes: datetime64[ns](1), float64(2), int64(4), object(1)
memory usage: 30.0+ KB
None

dataset ke dari excel 4:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199 entries, 0 to 198
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   No.                198 non-null    float64
 1   EIS                199 non-null    object
 2   Unnamed: 2         199 non-null    object
 3   Unnamed: 3         199 non-null    object
 4   Unnamed: 4         199 non-null    object
 5   Unnamed: 5         199 non-null    object
 6   NAR                199 non-null    object
 7   Unnamed: 7         199 non-null    object
 8   Unnamed: 8         199 non-null    object
 9   Unnamed: 9         199 non-null    object
 10  Excel              199 non-null    object
 11  Unnamed: 11        199 non-null    object
 12  Unnamed: 12        199 non-null    object
 13  Unnamed: 13        199 non-null    object
 14  Total DKI Jakarta  199 non-null    object
 15  Unnamed: 15        199 non-null    object
 16  Unnamed: 16        199 non-null    object
 17  Unnamed: 17        199 non-null    object
 18  Unnamed: 18        199 non-null    object
 19  Unnamed: 19        199 non-null    object
 20  Unnamed: 20        199 non-null    object
 21  Unnamed: 21        199 non-null    object
dtypes: float64(1), object(21)
memory usage: 34.3+ KB
None

dataset ke dari excel 5:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 504 entries, 0 to 503
Data columns (total 9 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   Tanggal                            504 non-null    datetime64[ns]
 1   Jumlah Orang di Test               504 non-null    int64
 2   Orang Positif Harian               504 non-null    int64
 3   Orang Negatif Harian               504 non-null    int64
 4   Positivity Rate Kasus Baru Harian  504 non-null    float64
 5   Total Spesimen di Test             504 non-null    int64
 6   Positif                            504 non-null    int64
 7   Negatif                            504 non-null    int64
 8   Positivity Rate Spesimen Harian    504 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(6), object(1)
memory usage: 35.6+ KB
None

dataset ke dari excel 6:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139 entries, 0 to 138
Data columns (total 71 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Sasaran Total Indonesia: 181.554.465  137 non-null    object
 1   Unnamed: 1                            138 non-null    object
 2   Unnamed: 2                            136 non-null    object
 3   Unnamed: 3                            136 non-null    object
 4   Unnamed: 4                            136 non-null    object
 5   Unnamed: 5                            136 non-null    object
 6   Unnamed: 6                            137 non-null    object
 7   Unnamed: 7                            136 non-null    object
 8   Unnamed: 8                            136 non-null    object
 9   Unnamed: 9                            136 non-null    object
 10  Unnamed: 10                           136 non-null    object
 11  Unnamed: 11                           137 non-null    object
 12  Unnamed: 12                           136 non-null    object
 13  Unnamed: 13                           136 non-null    object
 14  Unnamed: 14                           136 non-null    object
 15  Unnamed: 15                           136 non-null    object
 16  Unnamed: 16                           137 non-null    object
 17  Unnamed: 17                           136 non-null    object
 18  Unnamed: 18                           136 non-null    object
 19  Unnamed: 19                           136 non-null    object
 20  Unnamed: 20                           136 non-null    object
 21  Unnamed: 21                           36 non-null     object
 22  Unnamed: 22                           31 non-null     object
 23  Unnamed: 23                           32 non-null     object
 24  Unnamed: 24                           31 non-null     object
 25  Unnamed: 25                           31 non-null     object
 26  Unnamed: 26                           31 non-null     object
 27  Unnamed: 27                           31 non-null     object
 28  Unnamed: 28                           19 non-null     object
 29  Unnamed: 29                           18 non-null     object
 30  Unnamed: 30                           18 non-null     object
 31  Unnamed: 31                           18 non-null     object
 32  Unnamed: 32                           18 non-null     object
 33  Unnamed: 33                           137 non-null    object
 34  Unnamed: 34                           136 non-null    object
 35  Unnamed: 35                           136 non-null    object
 36  Unnamed: 36                           136 non-null    object
 37  Unnamed: 37                           136 non-null    object
 38  Unnamed: 38                           137 non-null    object
 39  Unnamed: 39                           136 non-null    object
 40  Unnamed: 40                           136 non-null    object
 41  Unnamed: 41                           136 non-null    object
 42  Unnamed: 42                           136 non-null    object
 43  Unnamed: 43                           137 non-null    object
 44  Unnamed: 44                           136 non-null    object
 45  Unnamed: 45                           136 non-null    object
 46  Unnamed: 46                           136 non-null    object
 47  Unnamed: 47                           136 non-null    object
 48  Unnamed: 48                           137 non-null    object
 49  Unnamed: 49                           136 non-null    object
 50  Unnamed: 50                           136 non-null    object
 51  Unnamed: 51                           136 non-null    object
 52  Unnamed: 52                           136 non-null    object
 53  Unnamed: 53                           32 non-null     object
 54  Unnamed: 54                           31 non-null     object
 55  Unnamed: 55                           32 non-null     object
 56  Unnamed: 56                           31 non-null     object
 57  Unnamed: 57                           31 non-null     object
 58  Unnamed: 58                           31 non-null     object
 59  Unnamed: 59                           31 non-null     object
 60  Unnamed: 60                           19 non-null     object
 61  Unnamed: 61                           18 non-null     object
 62  Unnamed: 62                           18 non-null     object
 63  Unnamed: 63                           18 non-null     object
 64  Unnamed: 64                           18 non-null     object
 65  Unnamed: 65                           31 non-null     object
 66  Unnamed: 66                           31 non-null     object
 67  Unnamed: 67                           138 non-null    object
 68  Unnamed: 68                           136 non-null    object
 69  Unnamed: 69                           78 non-null     object
 70  Unnamed: 70                           97 non-null     object
dtypes: object(71)
memory usage: 77.2+ KB
None

dataset ke dari excel 7:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 503 entries, 0 to 502
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Tanggal                   503 non-null    datetime64[ns]
 1   Pemakaman_COVID19_Harian  503 non-null    int64
 2   Total_Pemakaman_COVID19   503 non-null    int64
 3   Pemakaman_Umum_Harian     503 non-null    int64
 4   Total_Pemakaman_Umum      503 non-null    int64
dtypes: datetime64[ns](1), int64(4)
memory usage: 19.8 KB
None

dataset ke dari excel 8:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Columns: 116 entries, No. to Unnamed: 115
dtypes: object(116)
memory usage: 40.9+ KB
None

dataset ke dari excel 9:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Tanggal           35 non-null     datetime64[ns]
 1   Cakupan Suntik 1  35 non-null     int64
 2   Cakupan Suntik 2  35 non-null     float64
 3   Unnamed: 3        35 non-null     int64
 4   Keterangan        1 non-null      object
dtypes: datetime64[ns](1), float64(1), int64(2), object(1)
memory usage: 1.5+ KB
None

In [24]:
df_RDTag.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 199 entries, 0 to 198
Data columns (total 22 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   No.                198 non-null    float64
 1   EIS                199 non-null    object
 2   Unnamed: 2         199 non-null    object
 3   Unnamed: 3         199 non-null    object
 4   Unnamed: 4         199 non-null    object
 5   Unnamed: 5         199 non-null    object
 6   NAR                199 non-null    object
 7   Unnamed: 7         199 non-null    object
 8   Unnamed: 8         199 non-null    object
 9   Unnamed: 9         199 non-null    object
 10  Excel              199 non-null    object
 11  Unnamed: 11        199 non-null    object
 12  Unnamed: 12        199 non-null    object
 13  Unnamed: 13        199 non-null    object
 14  Total DKI Jakarta  199 non-null    object
 15  Unnamed: 15        199 non-null    object
 16  Unnamed: 16        199 non-null    object
 17  Unnamed: 17        199 non-null    object
 18  Unnamed: 18        199 non-null    object
 19  Unnamed: 19        199 non-null    object
 20  Unnamed: 20        199 non-null    object
 21  Unnamed: 21        199 non-null    object
dtypes: float64(1), object(21)
memory usage: 34.3+ KB